.banner-img1 {
    background-image: url(../image/carousel/1.jpg);
    height: 80vh;
}

.banner-img2 {
    background-image: url(../image/carousel/3.jpg);
    height: 80vh;
}

.banner-img3 {
    background-image: url(../image/carousel/5.jpg);
    height: 80vh;
}

.client-img{
    width: 170px;
}